{% extends "basefront.html.twig" %}
{% block body %}
<h1>La super page de contact</h1>
{{ form_start(formcontact) }}
        <div class="row mt-3">
            <div class="col">
                {{ form_row(formcontact.nom) }}
            </div>
            <div class="col">
                {{ form_row(formcontact.email) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(formcontact.message) }}
            </div>
        </div>
    {{ form_end(formcontact) }}   

{% endblock %}